

body {
    background:  #6688ad;
    /* background-color: #4f7cac; */
    font-family: Arial;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le défilement à l'intérieur du bloc principal */
}

header {
    display: flex;
    align-items: center;
    height : 3em;
    justify-content: space-between;
    background-color: #162521;
    color: #fff;
    padding: 0;
    margin: 0;

}

#menu a, #user a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
}

#menu a:hover, #user a:hover {
    color: #9eefe5;
    transition: color 0.2s ease;
}

#user ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #333;
    width: auto;
    right: 0; /* Aligne le menu déroulant à droite de l'élément parent */
    display: none;
}

#user:hover ul {
    display: block;
    z-index: 1;
}

#user ul li {
    margin: 0;
    padding: 10px;
    text-align: right;
}

#user ul li a {
    color: #fff;
    text-decoration: none;
}

header img{
    height:3em;
}




#wrapper{
    display:flex;
    width:100vw;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #4f7cac;
    color : rgb(0, 0, 0);
    flex:1;
    padding:1em;
    border-radius: 0px;
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:4;
    padding:2em 2em;
    height: calc(100vh - 3em);
    overflow-y:  scroll;
}
/* #wrapper main article{
    background-color: rgba(192, 224, 222, 0.6);;
    padding:1.5em;
    margin-bottom: 2em ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(72, 72, 72);
} */





#wrapper main article {
    width: auto;
    height: auto;
    margin-bottom: 2em ;
    background: rgba(192, 224, 222, 0.6);
    position: relative;
    /* -moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
  }

  #wrapper main article:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgba(192, 224, 222, 0.6);
    border-bottom: 13px solid transparent;

  }






#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin {
    flex-direction: row-reverse;
}

#wrapper.admin aside {
    flex: 1;
    margin-left: 1em;
    border-radius: 0;
    padding: 0;
}

#wrapper.admin main {
    flex: 2;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
}

#wrapper.admin h2 {
    text-align: center;
}

#wrapper.admin h3 {
    margin: 0;
}

#wrapper.admin nav {
    text-align: right;
}

#wrapper.admin article {
    border: 1px solid #ddd;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

#wrapper.admin article p {
    float: left;
    margin: 0;
}

.parameters dl dt {
    float: left;
    font-weight: bold;
    line-height: 1.5em;
}

.parameters dl dd {
    margin-left: 15em;
    line-height: 1.5em;
}


.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}
